<div class="card pokecard bg-dark container-fluid" style="width: 18rem">
  <img src= <%= pokemon.sprites.front_default %>  class="card-img-top" alt=<%="front-" + pokemon.name %> />
  <div class="card-body">
    <h1 class="card-title text-center"><%= pokemon.name.toUpperCase() %></h5>
    <div class="container">
        <div class="row">
            <div class="col card-info">ID: <%= pokemon.id %> </div>
            <div class="col card-info">Wt: <%= pokemon.weight %> </div>
        </div>
        <div class="row">
          <div class="col-6">
            <a href="..." class="btn btn-primary">Evolution</a>
          </div>
          <div class="col-6">
          <a href="..." class="btn btn-primary">Pretty</a>
          </div>
        </div>
    </div>
  </div>
</div>
