<div class="card pokecard bg-dark container-fluid" style="width: 18rem">
  <a class="prev" href="/<%= pokemon.id-1 %> "><i class="fas fa-arrow-left"></i></a>
  <a class="next" href="/<%= pokemon.id+1 %> "><i class="fas fa-arrow-right"></i></a>
  <img id="image" name="<%= pokemon.id %>" src= <%= pokemon.sprites.front_default %>  class="card-img-top" alt=<%="front-" + pokemon.name %> />
  <div class="card-body">
      <%- include('./type', {pokemon: pokemon}) %> 
    <h1 class="card-title text-center"><%= pokemon.name.toUpperCase() %></h5>
    <div class="container">
        <div class="row text-center card-info">
            <div class="col card-info">ID: <%= pokemon.id %> </div>
            <div class="col card-info">Wt: <%= pokemon.weight %> </div>
        </div>
        <div class="row text-center">
          <div class="col">
          <button id='shiny' class="btn btn-primary">Shiny</button>
          </div>
        </div>
    </div>
  </div>
  <script>
    const URL = "https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/"
    let shiny = document.getElementById('shiny');
    let pokeImg = document.getElementById('image');

    let ogPoke = pokeImg.src ;
    let ogPokeBack = URL + 'back/' + pokeImg.name + '.png';
    let shinyPoke = URL + 'shiny/' + pokeImg.name + '.png';
    let shinyBackPoke = URL + 'back/shiny/' + pokeImg.name + '.png';

    let isShiny = false
    let isFront = true

    pokeImg.addEventListener('click', () => {
      if(isShiny && isFront) {
        pokeImg.src = shinyBackPoke;
        isFront = false
      } else if (!isShiny && isFront){
        pokeImg.src = ogPokeBack;
        isFront = false
      } else if(isShiny && !isFront) {
        pokeImg.src = shinyPoke;    
        isFront = true
      } else if (!isShiny && !isFront) {
        pokeImg.src = ogPoke;
        isFront = true
      }
    })

    shiny.addEventListener('click', () => {
      if(isShiny && isFront) {
        pokeImg.src = ogPoke;
        shiny.innerHTML = "Shiny"
        isShiny = false 
      } else if (!isShiny && isFront){
        pokeImg.src = shinyPoke;
        shiny.innerHTML = 'Not Shiny'
        isShiny = true
      } else if(isShiny && !isFront) {
        pokeImg.src = ogPokeBack
        shiny.innerHTML = 'Shiny'
        isShiny = false
      } else if (!isShiny && !isFront) {
        pokeImg.src = shinyBackPoke;
        shiny.innerHTML = 'Shiny';
        isShiny = true;

      }
    });

  </script>
</div>
